h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
}

.container {
    width: 1056px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    margin: 0 auto;
}